AngularJS notes
================================================================================
Directives
================================================================================
	* ng-app : defines angularJS application. Need this to start an angular application
		<html ng-app="store">

	* ng-controller : attach a controller function to a page
		<body ng-controller="StoreConroller as store">

	* ng-init : defines initial variables in an angular application
		* not good use to use them though, should use a controller instead
		<body ng-init="name='Jennifer' ">
		* give it an alias too, more common to have it that way.

	* ng-model : provides a direct bind to HTML elements
		* First Name: <input type="text" ng-model="firstName"><br>
		* Provide type validation for application data (number, email, required).
		* Provide status for application data (invalid, dirty, touched, error).
		* Provide CSS classes for HTML elements.
		* Bind HTML elements to HTML forms.
		<input type="email" name="myAddress" ng-model="text">

	* ng-repeat: basically a loop.
		<li ng-repeat = "x in store.product">
			{{ x.name}}    // html

		* x in store product ( similar to a foreach loop in java)
		* the {{ ... }} is what renders on the html page
		* "x in store.product" : store tells us to look at the controller that has
															an alias as store for StoreController

	* ng-submit: call function when form is submitted

	* ng-show/ng-hide : display a sectio based on an expression
	<h1 ng-show = "name"> Hello, {{name}} </h1>

	** Form validations
			* ng-valid : boolean --> Tells whether an item is currently valid based on the rules you placed
															example: email validation
			* ng-invalid : opposite of ng-invalid
			* ng-pristine : True if the form has not been used yet
			* ng-dirty: boolean --> form has been used and modified

			<form name="myForm">
    		<input name="email" ng-model="data.email">
    		<div class="info"
    				 ng-show="myForm.email.$pristine">
    				Email is virgine.
    		</div>
    		<div class="error"
    				 ng-show="myForm.email.$dirty">
    				E-mail is dirty
    		</div>
			</form>

================================================================================
Scope
================================================================================
	* Scope helps the binding between HTML(view) and JS(controller)
	* To use, pass the $scope object as an argument

<div ng-app="myApp" ng-controller="myCtrl">
	<h1>{{carname}}</h1>
</div>

<script>
	var app = angular.module('myApp', []);
	app.controller('myCtrl', function($scope) {
		$scope.carname = "Volvo";
	});
</script>

In the JS file, there is $scope.carname, so it grabs the value of carname and can be
passed as an argument. 	Without scope, file will look like use "this".

<div ng-app="myApp" ng-controller="myCtrl">
	<h1>{{carname}}</h1>
</div>

<script>
	var app = angular.module('myApp', []);
	app.controller('myCtrl', function() {
		this.carname = "";
	});
</script>

* There are also root scopes, where a variable can be a global varible and manipulated
as such.

	<!DOCTYPE html>
	<html>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<body ng-app="myApp">

	<p>The rootScope's favorite color:</p>
	<h1>{{color}}</h1>

	<div ng-controller="myCtrl">

	<p>The scope of the controller's favorite color:</p>
	<h1>{{color}}</h1>

	</div>

	<p>The rootScope's favorite color is still:</p>
	<h1>{{color}}</h1>

	<script>
	var app = angular.module('myApp', []);
	app.run(function($rootScope) {
	    $rootScope.color = 'blue';
	});
	app.controller('myCtrl', function($scope) {
	    $scope.color = "red";
	});
	</script>

	<p>Notice that controller's color variable does not overwrite the rootScope's color value.</p>

	</body>
	</html>

	* The result will be :
	blue
	red
	blue

	Because of the controller "myCtrl", it will show the color = red and then go
	back to the original scope variable(blue).

================================================================================
Filters
================================================================================
* currency: Format a number to a currency format.
* date: Format a date to a specified format.
* filter: Select a subset of items from an array.
* json: Format an object to a JSON string.
* limitTo: Limits an array/string, into a specified number of elements/characters.
* lowercase: Format a string to lower case.
* number: Format a number to a string.
* orderBy: Orders an array by an expression.
* uppercase: Format a string to upper case.
<div ng-app="myApp" ng-controller="personCtrl">
	<p>The name is {{ lastName | uppercase }}</p>
</div>

** Look at filterNames.js and filterNames.html to see how to filter names by letters.
Very useful to understand
	- should be stepping stone for grabbing data from a database 
